
.section { 
    max-width: 1475px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1470px;
    margin: 0 auto;
}


@madia (max-width:1470px) {
    .section {
        max-width: 9700px
    }
}

@madia (max-width:992px) {
    .section {
        max-width: 750px
    }
}

@madia (max-width:767px) {
    .section {
        max-width: none
    }
}


.container-tours {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.tours-info {
  
    width: 263px;
    margin-top: 75px;
}

.tours-info-title {
 
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 24px;
        
}

.tours-info-text {
  

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
}

/* карточка */

.card-tours {
   position: relative;
   
    width: 262px;
    height: 400px;
    background: rgba(35, 35, 35, 0.3);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('./../img/patrick-hendry-eDgUyGu93Yw-unsplash\ 1.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 .card2 {
    background-image: url('./../img/casey-schackow-meI9Aa1wlw0-unsplash\ 1.png');
 }

 .card3 {
    background-image: url('./../img/vidar-nordli-mathisen-yJKb_4vjYwA-unsplash\ 1.png');
 }
   

.card-title {
    position: absolute;

    margin-top: 25px;
    margin-left: 30px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
    

}

.card-description {
    position: absolute;

    margin-top: 99px;
    margin-left: 30px;
    

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.card-form {
    position: absolute;
   
    margin-top: 320px;
    margin-left: 30px;
}

.card-button {
    padding: 16px 68px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;

    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    cursor: pointer;
}
/* excursion */

.container-excursion {
display: flex;
justify-content: space-between;
max-width: 1475px;
margin: 0 auto;
margin-bottom: 50px;
padding-bottom: 50px;
padding: 52px 119px;
background-color:  #F2F7FC;;
}

.excursion-info {
    width: 263px;
    margin-top: 75px;

}
.excursion-info-title{
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 24px;
}

.excursion-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #707070;

}

.card-excursion {
    position: relative;
    width: 262px;
    height: 400px;
    background: rgba(35, 35, 35, 0.3);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('./../img/157793103\ 1.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .card-excursion2{
    background-image: url('./../img/261011700\ 1.png');
 }
 .card-excursion3 {
    background-image: url('./../img/166714413\ 1.png');
 }

.card-title-excursion {
    position: absolute;

    margin-top: 25px;
    margin-left: 30px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

.card-description-excursion {
    position: absolute;

    margin-top: 99px;
    margin-left: 30px;
    

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

/* hotel card */

.container-hotel {
    
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;


}

.card-hotel {
    position: relative;
   
    width: 262px;
    height: 400px;
    background: rgba(35, 35, 35, 0.3);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url('./../img/simon-rae-t4NvUGv1834-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.hotel2 {
    background-image: url('./../img/joseph-albanese-xx0oSB1YxRE-unsplash\ 1.png');

}

.hotel3 {
    background-image: url('./../img/patrick-perkins-3wylDrjxH-E-unsplash\ 1.png');
}
